table {
    width: 100%;
    margin-top: 10px;
}

.bloque{
    display: block;
}

mat-form-field{
    margin-left: 10px;
    margin-bottom: 0%;
}

mat-table{
    width: 100%;
    margin: 1% auto;
    background-color: transparent;
    border-radius: 15px;
  }

.mat-header-cell {
    color: black;
    font-weight: bold;
    margin-bottom: 0.5%;
    width: 25%;
    text-align: center;
    justify-content: center;
  }

.mat-cell {
    margin-bottom: 0.5%;
    width: 25%;
    text-align: center;
    justify-content: center;
  }

.checkbox {
    margin-left: 15px;
}