<div>
    <div class="bloque">
        <button mat-flat-button (click)="clickAdd()">
            <mat-icon class="text-white">add</mat-icon>
        </button>
        <mat-form-field appearance="standard">
            <mat-label>Esquemas</mat-label>
            <mat-select matNativeControl [(value)]="scheme" required>
                <mat-option *ngFor="let element of schemes" [value]="element">
                    {{element.TABLE_SCHEMA}}
                  </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Tipo</mat-label>
            <mat-select matNativeControl [(value)]="action" required>
                <mat-option value="option1">Generar</mat-option>
                <mat-option value="option2">Generar y ejecutar</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <input matInput placeholder="Buscar" (input)="search($event)">
            <button mat-icon-button matSuffix>
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <button mat-flat-button (click)="clickExec()">
        <mat-icon class="text-white">save</mat-icon>Ejecutar
    </button>


    <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Name Column -->
            <ng-container matColumnDef="name" class="mat-column-name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Create column -->
            <ng-container matColumnDef="create_check" class="mat-column-check">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox [checked]="isAllCheckedColumn('create')" (change)="checkAllColumn($event, 'create')">
                        Insertar
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox [checked]="element.create" (change)="element.create = !element.create"></mat-checkbox>
                </td>
            </ng-container>

            <!-- Read column -->
            <ng-container matColumnDef="read_check" class="mat-column-check">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox [checked]="isAllCheckedColumn('read')" (change)="checkAllColumn($event, 'read')">
                        Obtener</mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox [checked]="element.read" (change)="element.read = !element.read"></mat-checkbox>
                </td>
            </ng-container>

            <!-- Update column -->
            <ng-container matColumnDef="update_check" class="mat-column-check">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox [checked]="isAllCheckedColumn('update')" (change)="checkAllColumn($event, 'update')">
                        Modificar</mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox [checked]="element.update" (change)="element.update = !element.update"></mat-checkbox>
                </td>
            </ng-container>

            <!-- Delete column -->
            <ng-container matColumnDef="delete_check" class="mat-column-check">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox [checked]="isAllCheckedColumn('delete')" (change)="checkAllColumn($event, 'delete')">
                        Eliminar</mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox [checked]="element.delete" (change)="element.delete = !element.delete"></mat-checkbox>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>